<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fix1</key>
	<dict>
		<key>DCR_Vs</key>
		<string>3.996</string>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9318::MY54320636::INSTR</string>
		<key>e4980_adress</key>
		<string>USB0::0x0957::0x0909::MY54203814::INSTR</string>
		<key>e4980_IP</key>
		<string>169.254.1.100</string>
		<key>e4980_Port</key>
		<string>5025</string>
		<key>fix_ABC_DEF_Res</key>
		<string>344.025711</string>
		<key>fix_B2_E2_Res</key>
		<string>203.760932</string>
		<key>fix_B4_E4_Res</key>
		<string>334.267215</string>
		<key>fix_B_E_Res</key>
		<string>339.385167</string>
		<key>fix_Cap</key>
		<string>12.773617</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-FIXA</string>
		<key>fix_num</key>
		<string>1</string>
	</dict>
	<key>Fix2</key>
	<dict>
		<key>e4980_IP</key>
		<string>169.254.1.101</string>
		<key>e4980_Port</key>
		<string>5025</string>
		<key>DCR_Vs</key>
		<string>3.996</string>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9318::MY54320637::INSTR</string>
		<key>e4980_adress</key>
		<string>USB0::0x0957::0x0909::MY54203781::INSTR</string>
		<key>fix_ABC_DEF_Res</key>
		<string>374.410751</string>
		<key>fix_B2_E2_Res</key>
		<string>216.520748</string>
		<key>fix_B4_E4_Res</key>
		<string>360.798792</string>
		<key>fix_B_E_Res</key>
		<string>367.846446</string>
		<key>fix_Cap</key>
		<string>12.992767</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-FIXB</string>
		<key>fix_num</key>
		<string>2</string>
	</dict>
	<key>Fix3</key>
	<dict>
		<key>DCR_Vs</key>
		<string>3.996</string>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9318::MY54320687::INSTR</string>
		<key>e4980_adress</key>
		<string>USB0::0x0957::0x0909::MY54203861::INSTR</string>
		<key>e4980_IP</key>
		<string>169.254.1.102</string>
		<key>e4980_Port</key>
		<string>5025</string>
		<key>fix_ABC_DEF_Res</key>
		<string>563.336615</string>
		<key>fix_B2_E2_Res</key>
		<string>307.757771</string>
		<key>fix_B4_E4_Res</key>
		<string>531.084586</string>
		<key>fix_B_E_Res</key>
		<string>569.016484</string>
		<key>fix_Cap</key>
		<string>13.043683</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-FIXC</string>
		<key>fix_num</key>
		<string>3</string>
	</dict>
	<key>Fix4</key>
	<dict>
		<key>DCR_Vs</key>
		<string>3.996</string>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9318::MY54320687::INSTR</string>
		<key>e4980_adress</key>
		<string>USB0::0x0957::0x0909::MY54203861::INSTR</string>
		<key>e4980_IP</key>
		<string>169.254.1.102</string>
		<key>e4980_Port</key>
		<string>5025</string>
		<key>fix_ABC_DEF_Res</key>
		<string>563.336615</string>
		<key>fix_B2_E2_Res</key>
		<string>307.757771</string>
		<key>fix_B4_E4_Res</key>
		<string>531.084586</string>
		<key>fix_B_E_Res</key>
		<string>569.016484</string>
		<key>fix_Cap</key>
		<string>13.043683</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-FIXD</string>
		<key>fix_num</key>
		<string>4</string>
	</dict>
	<key>ServerFC</key>
	<dict>
		<key>Net_Port</key>
		<string>8081</string>
		<key>Product</key>
		<string>A211</string>
		<key>Server_IP</key>
		<string>172.19.1.2</string>
		<key>Station_Name</key>
		<string>AG</string>
	</dict>
	<key>Global</key>
	<dict>
		<key>humiture_uart_port_name</key>
		<string>/dev/cu.usbserial-EWHUMIT</string>
		<key>contollerBoard_uart_name</key>
		<string>/dev/cu.usbserial-FIXMB</string>
		<key>led_uart_name</key>
		<string>/dev/cu.usbserial-FIXLED</string>
		<key>foldDir</key>
		<string>/vault/Screw_Test_Station</string>
		<key>sw_name</key>
		<string>NutsTest-Station</string>
		<key>sw_ver</key>
		<string>V1.0.1</string>
		<key>isDebug</key>
		<false/>
	</dict>
	<key>CsvTitle</key>
	<array>
		<string>Start_Time</string>
		<string>End_Time</string>
		<string>Version</string>
		<string>NestID</string>
		<string>Product_Type</string>
		<string>SN</string>
		<string>TestResut</string>
		<string>FixtureID</string>
		<string>Operator_ID</string>
		<string>C-B2</string>
		<string>D-E2</string>
		<string>B4_E4_ACR_1000</string>
		<string>B4_E4_ACR_1000_Cfix</string>
		<string>B4_E4_ACR_1000_Cdut</string>
		<string>B4_E4_ACR_1000_Rdut</string>
		<string>B2987_CHECK</string>
		<string>B4_E4_DCR</string>
		<string>B4_E4_DCR_Rfix</string>
		<string>B4_E4_DCR_Rdut</string>
		<string>TEMP</string>
		<string>HUMID</string>
	</array>
</dict>
</plist>
