<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllItems</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>Item_NUT1_RES</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>20</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Item_NUT1_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>NUT1_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT1_RES</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>500</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT1_RES</string>
					<key>TestDevice</key>
					<string>Read Fixture</string>
					<key>TestCommand</key>
					<string>MEASURE_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Item_NUT3_RES</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>20</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Item_NUT3_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>NUT3_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT3_RES</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>500</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT3_RES</string>
					<key>TestDevice</key>
					<string>Read Fixture</string>
					<key>TestCommand</key>
					<string>MEASURE_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Item_NUT5_RES</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>20</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Item_NUT5_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>NUT5_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT5_RES</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>500</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT5_RES</string>
					<key>TestDevice</key>
					<string>Read Fixture</string>
					<key>TestCommand</key>
					<string>MEASURE_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Item_NUT7_RES</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>20</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Item_NUT7_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>NUT7_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT7_RES</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>500</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT7_RES</string>
					<key>TestDevice</key>
					<string>Read Fixture</string>
					<key>TestCommand</key>
					<string>MEASURE_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Item_NUT2_RES</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>20</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Item_NUT2_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>NUT2_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT2_RES</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>500</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_NUT5_RES</string>
					<key>TestDevice</key>
					<string>Read Fixture</string>
					<key>TestCommand</key>
					<string>MEASURE_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Item_BC_RES</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>Ohm</string>
			<key>Min</key>
			<string>0</string>
			<key>Max</key>
			<string>20</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Item_BC_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>BC_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_BC_RES</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>500</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Item_BC_RES</string>
					<key>TestDevice</key>
					<string>Read Fixture</string>
					<key>TestCommand</key>
					<string>MEASURE_RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
